asgiref==3.2.3
attrs==19.3.0
Babel==2.8.0
beancount==2.2.3
beautifulsoup4==4.8.2
bottle==0.12.18
cachetools==4.0.0
certifi==2019.11.28
chardet==3.0.4
cheroot==8.3.0
Click==7.0
Django==3.0.3
django-revproxy==0.10.0
fava==1.14
Flask==1.1.1
Flask-Babel==1.0.0
google-api-python-client==1.7.11
google-auth==1.11.2
google-auth-httplib2==0.0.3
gunicorn==20.0.4
httplib2==0.17.0
idna==2.8
importlib-metadata==1.5.0
itsdangerous==1.1.0
jaraco.functools==3.0.0
Jinja2==2.11.1
lxml==4.5.0
markdown2==2.3.8
MarkupSafe==1.1.1
more-itertools==8.2.0
packaging==20.1
pluggy==0.13.1
ply==3.11
py==1.8.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyparsing==2.4.6
pytest==5.3.5
python-dateutil==2.8.1
python-magic==0.4.15
pytz==2019.3
requests==2.22.0
rsa==4.0
simplejson==3.17.0
six==1.14.0
soupsieve==1.9.5
sqlparse==0.3.0
uritemplate==3.0.1
urllib3==1.25.8
wcwidth==0.1.8
Werkzeug==1.0.0
whitenoise==5.0.1
zipp==2.2.0
